################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

source/hmd_sim/hmd_sim/out/
source/hmd_sim/hmd_sim/.vs/
source/hmd_sim/hmd_sim/x64/

.vs
*.ipch
*.obj

*.vs